#about {

  & ul {
    display: grid;
    list-style: none;
    gap: 2.25rem;
  }

  & ul li {
    display: flex; /* Habilita o layout flexbox */
    gap: .5rem; /* Espaço entre o marcador e o texto */

    & span {
      color: var(--content-brand);
      font: var(--ph-md);
    }

    & p {
      color: var(--content-secondary);
      font: var(--ph-sm);
    }
  }

  .marker {
    width: 20px;
    height: 20px;
    background-image: url(../assets/icons/comment.svg); /* URL da imagem */
    background-size: cover; /* Ajusta a imagem ao tamanho do elemento */
  }
}

@media (width >= 80em) {
  #about {
    margin-top: 2.375rem;
    max-width: 450px;
  }
}