#drawer {
  & #draw-info {
    margin-top: 2.5rem;

    & h3 {
      color: var(--content-primary);
      font: var(--label-md);
      text-transform: uppercase;
    }

    & p {
      color: var(--content-secondary);
      font: var(--ph-md);
    }
  }

  & .input-numbers {
    display: flex;
    gap: .75rem;
  }

  & .drawer-options {
    margin-top: 2.5rem;

    & form {
      display: flex;
      flex-direction: column;
      gap: .75rem;
    }
  }

  & .switch-wrapper {
    margin-top: 1.25rem;
    display: flex;
    gap: .5rem;

    & small {
      color: var(--content-primary);
      font: var(--ph-md);
    }
  }

  & .button-wrapper {
    margin-top: 2.5rem;
  }

  & .btn {
    & button {
      width: 100%;
      border-radius: .5rem;
      border: none;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;
      cursor: pointer;
      background-color: var(--bg-tertiary);
      color: #FFFFFF;
      font: var(--label-sm);
      text-transform: uppercase;
    }

    & button:hover {
      background-color: var(--bg-secondary);
      border: 1px solid transparent;
      background: linear-gradient(#111012, #111012) padding-box,
              linear-gradient(to right, var(--gradient-border)) border-box;
    }
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & label {
    text-transform: uppercase;
    color: #C7C9CC;
    font: var(--label-sm);
  }

  & input {
    border: none;
    border-radius: .5rem;
    width: 6.25rem;
    padding: 1rem;
    color: #FFFFFF;
    font: var(--title-sm);
    text-align: center;
    background-color: var(--bg-secondary);
    box-sizing: border-box;
  }

  & input:hover,
  & input:focus {
    border: 1px solid transparent;
    background: linear-gradient(#24222E, #24222E) padding-box,
              linear-gradient(to right, var(--gradient-border)) border-box;
  }
}

.draw-result {

  & .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & h3 {
      color: var(--content-primary);
      font: var(--label-md);
      text-transform: uppercase;
    }

    & span {
      color: var(--content-secondary);
      font: var(--overline);
      text-transform: uppercase;
    }
  }

  & .numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-brand);
    font-family: var(--ff-roboto-mono);
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
  }
}

@media (width >= 80em) {
  #drawer {
    margin-top: 14.813rem;

    & #draw-info {
      & p {
        font: var(--ph-lg);
      }
    }
  }
}

/* SWITCH */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--content-tertiary);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2.5px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: var(--gradient-bg);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}